*{
  margin: 0px;
  box-sizing: border-box;
}
.navbar{
  padding-left: 120px;
  padding-top: 30px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  background-color:white;
}
.nav{
  display: flex;
  /* border: 1px solid green; */

}
a{
  margin-right:40px ;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}
.nav a{
  color: black;
}
.contact1{
  padding-right: 70px;
  /* width: 80px; */
}
.contact{
  
    background-color: rgb(45, 45, 221);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.content{
  padding-top: 90px;
  padding-left: 148px;
}
.y{
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.para{
  padding-top: 20px;
}
p{
  font-size: 30px;
}
.h2{
  padding-top: 160px;
  font-size: 50px;
  font-family: 'Times New Roman';
}
  

